.header-navbar-logo {
  width: 8rem;
  margin-right: 1rem;
}

.tabela-cursos {
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
}

.header-adicionar-curso {
  color: #fff;
  background-color: #343a40;
}

.header-adicionar-curso h1 {
  font-weight: 300;
}